# API Initial Credentials
ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD=Senha@12345

# Infrastructure
DB_CONNECTION_STRING=Host=postgres;Port=5432;Database=campanhas;Username=postgres;Password=password
REDIS_CONNECTION_STRING=redis:6379
MAIL_HOST=mailhog
